In [2]:
import pandas as pd 
import numpy as np

#Import libraries
from matplotlib_venn import venn2, venn2_circles
from matplotlib_venn import venn3, venn3_circles
from matplotlib import pyplot as plt

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

Dataset's link:<br>https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE58933

In [49]:
d  = pd.read_csv('GSE101521_major_depression_mdd_nonsuicides.csv')

d = d[(abs(d['Log_FoldChange'])>1) & (d['PValue'] <0.05)].drop_duplicates(subset='Gene_symbol')
#d.to_csv('Datasets/GSE101521_major_depression_mdd_nonsuicides.csv')

GSE101521_up  = d[(d['Log_FoldChange']>1) & (d['PValue'] <0.05)]
GSE101521_up  = GSE101521_up[['Gene_symbol','Log_FoldChange','PValue']].drop_duplicates(subset='Gene_symbol')
GSE101521_down = d[(d['Log_FoldChange']<-1) & (d['PValue'] <0.05)]
GSE101521_down  = GSE101521_down[['Gene_symbol','Log_FoldChange','PValue']].drop_duplicates(subset='Gene_symbol')

In [8]:
d.shape

(265, 8)

In [4]:
GSE101521_up.shape

(58, 3)

In [6]:
GSE101521_down.shape

(207, 3)

In [50]:
d  = pd.read_csv('GSE101521_major_depression_mdd_suicides.csv')

d = d[(abs(d['Log_FoldChange'])>1) & (d['PValue'] <0.05)].drop_duplicates(subset='Gene_symbol')
#d.to_csv('Datasets/GSE101521_major_depression_mdd_suicides.csv')


GSE101521a_up  = d[(d['Log_FoldChange']>1) & (d['PValue'] <0.05)]
GSE101521a_up  = GSE101521a_up[['Gene_symbol','Log_FoldChange','PValue']].drop_duplicates(subset='Gene_symbol')
GSE101521a_down  = d[(d['Log_FoldChange']<-1) & (d['PValue'] <0.05)]
GSE101521a_down  = GSE101521a_down[['Gene_symbol','Log_FoldChange','PValue']].drop_duplicates(subset='Gene_symbol')

In [81]:
GSE101521a_up.shape

(41, 3)

In [39]:

d1  = d[d['PValue'] <0.05].drop_duplicates(subset='Gene_symbol')
print('p Value dhorre gene amount-', d1.shape)


d  = d[(abs(d['Log_FoldChange'])>1) & (d['PValue'] <0.05)].drop_duplicates(subset= 'Gene_symbol')
print('Logf & P dhorre gene amount-', d.shape)


up = d[d['Log_FoldChange']>1]
print('Up regulated amount-', up.shape)

 
down = d[d['Log_FoldChange']<-1]

print('Down regulated amount-', down.shape)

p Value dhorre gene amount- (1205, 8)
Logf & P dhorre gene amount- (183, 8)
Up regulated amount- (40, 8)
Down regulated amount- (143, 8)

In [17]:
up

       PValue  Log_FoldChange Gene_symbol
3346  0.04527            1.08    HLA-DQA1

In [65]:
d2.rename(columns={'Gene.symbol':'Gene_symbol','P.Value':'PValue','logFC':'Log_FoldChange'},inplace=True)
d2.drop(columns={"ID", "adj.P.Val",'t','B','Gene.title'},inplace=True)
d2.head()

     PValue  Log_FoldChange Gene_symbol
0  0.000001           0.437         NaN
1  0.000001           0.415        GZMK
2  0.000002          -0.252        RETN
3  0.000003          -0.256        MAFG
4  0.000003          -0.364      PFKFB2

In [68]:
col = ['Gene_symbol','Log_FoldChange','PValue']
d22 = d2.reindex(columns=col)
d22.head()

  Gene_symbol  Log_FoldChange    PValue
0         NaN           0.437  0.000001
1        GZMK           0.415  0.000001
2        RETN          -0.252  0.000002
3        MAFG          -0.256  0.000003
4      PFKFB2          -0.364  0.000003

In [69]:
GSE98793_up   = d22[(d22['Log_FoldChange']>1) & (d22['PValue'] <0.05)]
GSE98793_down = d22[(d22['Log_FoldChange']<-1) & (d22['PValue'] <0.05)]

In [72]:
GSE98793_up.shape

(1, 3)

In [73]:
GSE98793_down.shape

(1, 3)

# Micro Array Data

In [39]:
d = pd.read_csv('Micro_array/GSE98793_mi_array.csv')
d.shape

(21502, 4)

In [40]:

d1  = d[d['PValue'] <0.05].drop_duplicates(subset='Gene_symbol')
print('p Value dhorre gene amount-', d1.shape)


d  = d[(abs(d['Log_FoldChange'])>0.5) & (d['PValue'] <0.05)].drop_duplicates(subset= 'Gene_symbol')
print('Logf & P dhorre gene amount-', d.shape)

p Value dhorre gene amount- (2572, 4)
Logf & P dhorre gene amount- (13, 4)

In [41]:

up = d[d['Log_FoldChange']>1]
print('Up regulated amount-', up.shape)

 
down = d[d['Log_FoldChange']<-1]

print('Down regulated amount-', down.shape)

Up regulated amount- (0, 4)
Down regulated amount- (1, 4)

In [42]:
col = ['Gene_symbol','Log_FoldChange','PValue']
d22 = d2.reindex(columns=col)
d22.head()

  Gene_symbol  Log_FoldChange    PValue
1        GZMK           0.415  0.000001
2        RETN          -0.252  0.000002
3        MAFG          -0.256  0.000003
4      PFKFB2          -0.364  0.000003
5        MMP8          -0.749  0.000007

In [43]:
GSE107214_up   = d22[(d22['Log_FoldChange']>1) & (d22['PValue'] <0.05)]
GSE107214_down = d22[(d22['Log_FoldChange']<-1) & (d22['PValue'] <0.05)]

# ~******************************************~

# GSE87610

In [51]:
d2  = pd.read_csv('Micro_array/GSE87610.tsv',sep='\t', header=0)



d2.head()

,ID,adj.P.Val,P.Value,t,B,logFC,Gene.Symbol,GB_LIST,SPOT_ID
0,11760679_at,0.158,0.000003,5.633310,3.0017,0.368164,TNFRSF10C,NM_003841,NaN
1,11727576_x_at,0.204,0.000010,-5.234774,2.2154,-1.061790,ALS2CR4,"NM_001044385,NM_152388",NaN
2,11725650_s_at,0.204,0.000019,-5.022715,1.7913,-1.052275,DCAF5,NM_003861,NaN
3,11752529_a_at,0.204,0.000021,4.990021,1.7257,0.301854,C16orf71,NM_139170,NaN
4,11750163_a_at,0.204,0.000023,4.961723,1.6688,2.281045,NLRP2,"NM_001174081,NM_001174082,NM_001174083,NM_017852",NaN

In [52]:
d2.rename(columns={'P.Value':'PValue','logFC':'Log_FoldChange','Gene.Symbol':'Gene_symbol'},inplace=True)
d2.drop(columns={"ID", "adj.P.Val",'t','B','GB_LIST','SPOT_ID'},inplace=True)
d2[['Gene_symbol']] = d2.Gene_symbol.str.split('///').str[-1]
d2.head()

     PValue  Log_FoldChange Gene_symbol
0  0.000003        0.368164   TNFRSF10C
1  0.000010       -1.061790     ALS2CR4
2  0.000019       -1.052275       DCAF5
3  0.000021        0.301854    C16orf71
4  0.000023        2.281045       NLRP2

In [53]:
d2.shape

(49386, 3)

In [54]:
d2.shape

(49386, 3)

In [55]:
d2.drop_duplicates(subset='Gene_symbol', inplace=True)
d2.dropna(inplace=True)
d2.shape

(19934, 3)

In [56]:
#d2.to_csv('Micro_array/GSE87610_mi_array.csv')

In [57]:
d = pd.read_csv('Micro_array/GSE87610_mi_array.csv')
d.shape

(19934, 4)

In [59]:
d = d[(abs(d['Log_FoldChange'])>1) & (d['PValue'] <0.05)].drop_duplicates(subset='Gene_symbol')
d.to_csv('Datasets/GSE87610_mi_array.csv')

In [60]:
d.shape

(266, 4)

In [61]:

d1  = d[d['PValue'] <0.05].drop_duplicates(subset='Gene_symbol')
print('p Value dhorre gene amount-', d1.shape)


d  = d[(abs(d['Log_FoldChange'])>1) & (d['PValue'] <0.05)].drop_duplicates(subset= 'Gene_symbol')
print('Logf & P dhorre gene amount-', d.shape)

p Value dhorre gene amount- (266, 4)
Logf & P dhorre gene amount- (266, 4)

In [62]:

GSE87610_up = d[d['Log_FoldChange']>1]
print('Up regulated amount-', GSE87610_up.shape)

 
GSE87610_down = d[d['Log_FoldChange']<-1]

print('Down regulated amount-', GSE87610_down.shape)

Up regulated amount- (59, 4)
Down regulated amount- (207, 4)

In [30]:
d = pd.read_csv('Micro_array/GSE54575_mi_array.csv')
d.shape

(12991, 4)

In [31]:

d1  = d[d['PValue'] <0.05].drop_duplicates(subset='Gene_symbol')
print('p Value dhorre gene amount-', d1.shape)


d  = d[(abs(d['Log_FoldChange'])>1) & (d['PValue'] <0.05)].drop_duplicates(subset= 'Gene_symbol')
print('Logf & P dhorre gene amount-', d.shape)

p Value dhorre gene amount- (1788, 4)
Logf & P dhorre gene amount- (11, 4)

In [32]:

up = d[d['Log_FoldChange']>1]
print('Up regulated amount-', up.shape)

 
down = d[d['Log_FoldChange']<-1]

print('Down regulated amount-', down.shape)

Up regulated amount- (10, 4)
Down regulated amount- (1, 4)

# Concat Up

In [71]:
dfup1 = pd.concat([GSE101521_up ,  GSE101521a_up,  GSE87610_up])

In [72]:
dfup1.shape

(157, 4)

In [73]:
dfup1.drop_duplicates(subset="Gene_symbol" , inplace=True)

In [74]:
dfup1.shape

(150, 4)

In [76]:
dfup1.to_csv('appended_UP_Down_/up_appended_MD.csv')

# Concat Down

In [63]:
dfdown1 = pd.concat([GSE101521_down ,  GSE101521a_down ,  GSE87610_down])

In [64]:
dfdown1.shape

(557, 4)

In [65]:
dfdown1.drop_duplicates(subset="Gene_symbol" , inplace=True)

In [66]:
dfdown1.shape

(513, 4)

In [70]:
dfdown1.to_csv('appended_UP_Down_/down_appended_MD.csv')